@page "/rsvp"
@model RegisterModel

@using Microsoft.AspNetCore.Identity
@using WeddingWebsite.Data.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    Layout = "_RegisterLayout";

    ViewData["Title"] = "Register";
}

<div style="width: 100%;">
    <div class="section-bg-img"></div>
    <div class="container">
        <div class="text-center p-4">
            <div class="name">RSVP</div>
        </div>
    </div>
</div>

<div class="section-red section-bottom-border section-top-border">
    <div class="container">
        <div class="mx-auto mt-5">
            <form method="post">
                <div class="row">
                    <p class="text-center mb-3">
                        If you are interested in on site accommodation please let us know by January 31st. <br /> 
                        For all other activities, please RSVP in full by 31st May. You can continue to amend your responses til then if you are unsure at the moment.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="pe-md-3">
                            <div class="form-group">
                                <label asp-for="Input.Guest1.IsAttending">Can @Model.Guest1Name make it?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="Input.Guest1.IsAttending" id="isattending1-yes" value="Yes">
                                    <label class="form-check-label" for="isattending1-yes">
                                        Gratefully accept
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="Input.Guest1.IsAttending" id="isattending1-no" value="No">
                                    <label class="form-check-label" for="isattending1-no">
                                        Regretfully decline
                                    </label>
                                </div>
                            </div>
                            <div class="guest1-attending" style="display:none">
                                <label>Is @Model.Guest1Name coming to the...</label>
                                <div class="" style="margin-left: 15px">
                                    <div class="form-group">
                                        <label asp-for="Input.Guest1.PizzaParty"><a asp-page="Home" asp-fragment="home-pizza" target="_blank">Pizza party</a> on Friday evening?</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" asp-for="Input.Guest1.PizzaParty" id="pizzaparty1-yes" value="Yes">
                                            <label class="form-check-label" for="pizzaparty1-yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" asp-for="Input.Guest1.PizzaParty" id="pizzaparty1-no" value="No">
                                            <label class="form-check-label" for="pizzaparty1-no">
                                                No
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" asp-for="Input.Guest1.PizzaParty" id="pizzaparty1-tbc" value="TBC">
                                            <label class="form-check-label" for="pizzaparty1-tbc">
                                                Maybe
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Guest1.Brunch"><a asp-page="Home" asp-fragment="home-brunch" target="_blank">Brunch</a> on Sunday morning?</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" asp-for="Input.Guest1.Brunch" id="brunch1-yes" value="Yes">
                                            <label class="form-check-label" for="brunch1-yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" asp-for="Input.Guest1.Brunch" id="brunch1-no" value="No">
                                            <label class="form-check-label" for="brunch1-no">
                                                No
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" asp-for="Input.Guest1.Brunch" id="brunch1-tbc" value="TBC">
                                            <label class="form-check-label" for="brunch1-tbc">
                                                Maybe
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Guest1.JoinAccommodationList">Does @Model.Guest1Name want to join the list for on site accommodation?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Input.Guest1.JoinAccommodationList" id="accom1-yes" value="Yes">
                                        <label class="form-check-label" for="accom1-yes">
                                            Yes please!
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Input.Guest1.JoinAccommodationList" id="accom1-no" value="No">
                                        <label class="form-check-label" for="accom1-no">
                                            No thanks, I'm sorting out my own accommodation
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Guest1.DietaryRequirements">Does @Model.Guest1Name have any dietary requirements we need to be aware of?</label>
                                    <input type="text" class="form-control" asp-for="Input.Guest1.DietaryRequirements" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Guest1.SongRequest">@Model.Guest1Name's song request</label>
                                    <input type="text" class="form-control" asp-for="Input.Guest1.SongRequest" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @if (!string.IsNullOrEmpty(Model.CurrentUser.GuestName))
                        {
                            <div class="ps-md-3">
                                <div class="form-group">
                                    <label>Can @Model.Guest2Name make it?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Input.Guest2.IsAttending" id="isattending2-yes" value="Yes">
                                        <label class="form-check-label" for="isattending2-yes">
                                            Gratefully accept
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Input.Guest2.IsAttending" id="isattending2-no" value="No">
                                        <label class="form-check-label" for="isattending2-no">
                                            Regretfully decline
                                        </label>
                                    </div>
                                </div>
                                <div class="guest2-attending" style="display:none">
                                    <label>Is @Model.Guest2Name coming to the...</label>
                                    <div class="" style="margin-left: 25px">
                                        <div class="form-group">
                                            <label asp-for="Input.Guest2.PizzaParty"><a asp-page="Home" asp-fragment="home-pizza" target="_blank">Pizza party</a> on Friday evening?</label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" asp-for="Input.Guest2.PizzaParty" id="pizzaparty2-yes" value="Yes">
                                                <label class="form-check-label" for="pizzaparty2-yes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" asp-for="Input.Guest2.PizzaParty" id="pizzaparty2-no" value="No">
                                                <label class="form-check-label" for="pizzaparty2-no">
                                                    No
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" asp-for="Input.Guest2.PizzaParty" id="pizzaparty2-tbc" value="TBC">
                                                <label class="form-check-label" for="pizzaparty2-tbc">
                                                    Maybe
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Input.Guest2.Brunch"><a asp-page="Home" asp-fragment="home-brunch" target="_blank">Brunch</a> on Sunday morning?</label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" asp-for="Input.Guest2.Brunch" id="brunch2-yes" value="Yes">
                                                <label class="form-check-label" for="brunch2-yes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" asp-for="Input.Guest2.Brunch" id="brunch2-no" value="No">
                                                <label class="form-check-label" for="brunch2-no">
                                                    No
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" asp-for="Input.Guest2.Brunch" id="brunch2-tbc" value="TBC">
                                                <label class="form-check-label" for="brunch2-tbc">
                                                    Maybe
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Guest2.JoinAccommodationList">Does @Model.Guest2Name want to join the list for on site accommodation?</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" asp-for="Input.Guest2.JoinAccommodationList" id="accom2-yes" value="Yes">
                                            <label class="form-check-label" for="accom2-yes">
                                                Yes please!
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" asp-for="Input.Guest2.JoinAccommodationList" id="accom2-no" value="No">
                                            <label class="form-check-label" for="accom2-no">
                                                No thanks, I'm sorting out my own accommodation
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Guest2.DietaryRequirements">Does @Model.Guest2Name have any dietary requirements we need to be aware of?</label>
                                        <input type="text" class="form-control" asp-for="Input.Guest2.DietaryRequirements" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Guest2.SongRequest">@Model.Guest2Name's song request</label>
                                        <input type="text" class="form-control" asp-for="Input.Guest2.SongRequest" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.MoreInfo">We've not organised a destination wedding before, so tell us: is there anything else you'd like to know or want more info about?</label>
                    <textarea rows="3" class="form-control" asp-for="Input.MoreInfo"></textarea>
                </div>
                <div class="mb-3">
                    <input class="btn btn-warning" style="background-color:darkorange" type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $("input[name='Input.Guest1.IsAttending']").on("input", function() {
            handleGuestIsAttending(".guest1-attending", $(this));
        })

        $("input[name='Input.Guest2.IsAttending']").on("input", function() {
            handleGuestIsAttending(".guest2-attending", $(this));
        })

        function handleGuestIsAttending(selectorToShow, $el) {
            console.log($el.val());
            if ($el.val() === 'Yes') {
                $(selectorToShow).show();
            } else {
                $(selectorToShow).hide();
            }
        }

        handleGuestIsAttending(".guest1-attending", $("input[name='Input.Guest1.IsAttending']:checked"));
        handleGuestIsAttending(".guest2-attending", $("input[name='Input.Guest2.IsAttending']:checked"));
    </script>
    }

    @*<div class="section section-blue section-bottom-border">
    <div class="container">
    </div>
    </div>*@

    @*<div class="section section-blue section-bottom-border">
    <div class="container">
    <h3 class="header text-center" style="font-size: 3em; padding-top: 30px;">
    Save the date!
    </h3>
    </div>
    </div>
    <div class="section section-green section-bottom-border">
    <div class="container">
    <h3 class="header text-center" style="font-size: 3em; padding-top: 30px;">
    Save the dates!
    </h3>
    </div>
    </div>*@
